{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CrowdPay{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{% static 'js/scripts.js' %}" defer></script>
    
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'images/logo.svg' %}" alt="CrowdPay Logo" height="45">
            </a>
            {% if request.resolver_match.url_name != 'login' %}
            <nav>
                <ul>
                    <li><a href="{% url 'campaign_list' %}"><i class="fas fa-bullhorn"></i> Campaigns</a></li>
                    <li><a href="{% url 'create_campaign' %}"><i class="fas fa-plus-circle"></i> Start Campaign</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}"><i class="fas fa-user-circle"></i> {{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="profile-button logout-button">Logout</button>
                        </form>
                        <form action="{% url 'profile' %}" method="get">
                            <button type="submit" class="profile-button">Profile</button>
                            {% csrf_token %}
                            </form>
                            
                    {% else %}
                        <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                        <li><a href="{% url 'signup' %}"><i class="fas fa-user-plus"></i> Sign Up</a></li>
                    {% endif %}
                </ul>
                <div class="search-container">
                    <i class="fas fa-search search-icon"></i>
                    <input type="text" placeholder="Search Campaigns">
                </div>
            </nav>
            {% endif %}
        </div>
    </header>
  
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    {% if request.resolver_match.url_name != 'login' %}
    <footer>
        <div class="container">
            <p>&copy; 2024 CrowdPay. All rights reserved.</p>
        </div>
    </footer>
    {% endif %}
</body>
</html>
