<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<button id="razorpay-button">Pay with Razorpay</button>

<script>
    var options = {
        "key": "{{ razorpay_key_id }}",
        "amount": "{{ amount }}",
        "currency": "INR",
        "name": "{{ campaign.title }}",
        "order_id": "{{ razorpay_order_id }}",
        "handler": function (response) {
            fetch("{% url 'razorpay_callback' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: `razorpay_payment_id=${response.razorpay_payment_id}&razorpay_order_id=${response.razorpay_order_id}`
            }).then(() => {
                window.location.href = "{% url 'campaign_detail' campaign.id %}";
            });
        }
    };
    var rzp = new Razorpay(options);
    document.getElementById("razorpay-button").onclick = function(e) {
        rzp.open();
        e.preventDefault();
    };
</script>
